.image{
    background-size : cover;
    height : 160vh;
    filter: blur(5px);
    
}
.outercontent{
    color:white;
}
.innerContent{
    position : absolute;
}
.title{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
}
.overview{
    font-family: 'Mali', cursive;
    line-height: 1.3em;
    font-size: 1.3em;    
}

.tagline{
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em; 
}

