<div *ngIf='MovieDetailObject'>
        <div class= "outercontent">   
                <div class='image col-vs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'  [style.backgroundImage]="'url(' + image + ')'"></div>
                <div class='innerContent'>
                <img class="col-vs-2 col-sm-3 col-md-4 col-lg-5 col-xl-6"src='http://image.tmdb.org/t/p/original{{MovieDetailObject.poster_path}}'>
                <div class="col-vs-5 col-sm-9 col-md-8 col-lg-7 col-xl-6">
                    <header class='title'>{{MovieDetailObject.title}}</header><br><br>
                    <section>
                            <div class='overview'>Tag Line : </div>
                            <div class='tagline'>{{MovieDetailObject.tagline }}</div><br><br>                          
                    </section>
                    <section>
                            <div class='overview'>Release Date : </div>
                            <div>{{MovieDetailObject.release_date }}</div><br><br>
                    </section>
                    <article>
                            <div class="overview">Overview</div><br>
                            <div>{{MovieDetailObject.overview}}</div>
                    </article><br>
                </div>
            </div>
        </div>       
</div>