<div class='row'>
  <app-search></app-search>
</div>
<hr/>
<div class='row'>
  <div class='col-vs-5 col-sm-2 col-md-2 col-lg-3 col-xl-3'>
    <app-list (gettingId) = 'gettingIDParent($event)' ></app-list>
  </div>
    <div class='col-vs-5 col-sm-3 col-md-9 col-lg-9 col-xl-9'>
      <app-detail [MovieDetailObject] ='MovieDetailParent' ></app-detail>
    </div>
</div>