<div class="search"> 
  <input #searchinput (keyup)='search(searchinput.value)' class='col-sm-3 col-md-3 col-lg-3 col-xl-3' type='search' placeholder='Enter the movie to be searchedd...'>
  <span class='col-sm-2 col-md-2 col-lg-2 col-xl-2'>
    Search
  </span>
</div>