<div>
    <ul  class="displayCard" style="padding: 0;margin: 10px 0;;" *ngFor= 'let movie of movies | listFilter : term '>
        
        <li (click)='getId(movie.id)'>
            <div class="col-md-12" style="padding: 0;">
                <img class="col-vs-2 col-md-6"src='http://image.tmdb.org/t/p/original{{movie.backdrop_path}}'>
                <div class="col-vs-2 col-md-6">
                    <span><b>{{movie.title}}</b></span><br><br>
                    <span>{{movie.release_date }}</span>
                </div>
            </div>
            <div style="padding: 15px;text-align: justify;">{{movie.overview | wrapText}}</div>
        </li>
    </ul>
</div>

