.displayCard{
    list-style: none;
    cursor: pointer;
    width: 280px;
    /* height: 150px; */
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 1px 3px 0 hsla(0,0%,69%,.25);
    border: 1px solid #e9e9e9;
    border-top: 5px solid transparent;
    padding: 20px;
    display: inline-block;
    margin-right: 15px;
}

.imageThum{
    width : 30%;
    height : 50px;
}

